<div class="container">
  <h1>My Goals</h1>
  <hr>

  <div class="row">
    <div class="col-md-6">
      <div *ngFor='let goal of goals;let i = index'>
        <div>
          <h4 id={{i}} appStrikethrough>{{goal.name}} due on {{goal.completionDate|date|uppercase}}</h4>
          <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
        </div>

        <div *ngIf='goal.showDescription'>
          <app-goal-detail  [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-detail>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <p>
        Quality education is at the heart of African Promise; equipping schools with the infrastructure and resources they need to give children the best start in life.
      </p>
      <p>Education is vital in allowing children to escape poverty, build better lives and become the guardians of a more tolerant and peaceful society.</p>
      <img src="../../assets/images/Sustainable_Development_Goal_1.png" alt="" width="100%">
    </div>
  </div>

  <p *ngIf='goals.length > 5'>You have too many goals</p>
</div>